* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
}

.wrapper {
  max-width: 600px;
  margin: 60px auto;
}


.profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
}


.profile-img {
  height: 140px;
  min-width: 140px;
  object-fit: cover;
  margin: 20px;
}

.profile-role{
  color: #777;
  font-size: 0.9rem;
  padding-top: 5px;
}

.profile-description {
  padding-top: 15px;
  line-height: 1.4;
}



.wrapper2 {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 2rem;
  background-color: #f1f5f9;
}

.container {
  display: flex;
}

#email {
  padding: 0.8rem 1.1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: solid 1px #94A3B8;
}

#subscribe-btn {
  padding: 0.8rem 1.1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: teal;
  color: white;
  border:none;
  cursor: pointer;
}